<div class="create-book-container">


<h2 class="create-book-heading">Share a book</h2>

<form action="/books/create" method="POST" class="create-book-form">


  <label for="image-url">Book cover</label>
  <input type="text" id="image-url" name="image_Url" placeholder="insert image URL"/>
   
   <label for="title">Title</label>
   <input type="text" id="title" name="title" />
   
   <label for="author">Author</label>
   <input type="text" id="author" name="author"/>

   <label for="description">Description</label>
   <textarea id="description" name="description" cols="30" rows="4"></textarea>

   <label for="rate">Rate</label>
   <input type="number" id="rate" name="rating" min="1" max="10"/>
   <button type="submit" class="create-btn">Share</button>
   {{#if errorMessage}}
    <p class="error-message">{{errorMessage}}</p>
   {{/if }}

</form>


</div>