
 <div class="unauthorized-container">

    <h3 class="unauthorized">You're not authorized to delete this book. Only original user who posted it can. </h3>
    <a href="/books" class="backt-to-books-link">Back to books</a>
 </div>