
    <div class="section1">
 

     <div class="general-info-wrapper">
     <h1 class="info-heading">Get Started with Icarus </h1>
    <p class="info-para">Share your favorite books, movies ,food or topics you're interested in and talk about it with people!</p>

      <a href="/signup" class="join-us-link">
      <span>Join us</span>
      </a>

     </div>

     <div class="image-wrapper">
      <img src="../images/homePage-bg.png"  class="website-display"/>
     </div>


  </div>
       


