<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>{{appTitle}}</title>
 
</head>
<body>

     <nav>
        <div id="logo">
          <a href="/books">
             <img src="../images/wings.png"/>

            </a>
        </div>
        <ul>
            
          
            <li>
                <a href="/">Home</a>
            </li>
          

                <li>
                    <a href="/books">Books</a>
               </li>

                <li>
                   <a href="/books/create">Add book</a>
               </li>

                    <li>
                <a href="/login">Sign in</a>
                  </li>
               <li>
                   <a href="/userProfile">Profile</a>
               </li>
            
           
            <li>
                <form id="logout-form"action="/logout" method="POST" class="logout-form">
                  <button class="logout-btn">Logout</button>
                </form>
            </li>
     
            
            
        </ul>
    </nav>
  

    <div class="content">
          {{{body}}}
    {{!-- <div class="push"></div> --}}

    </div>
    <footer class="footer">
        <ul>
            <li>

                <a href="/">Home</a>
            </li>
               <li>

                <a href="/books">Books</a>
            </li>
            <li>

                <a href="/login">Sign in</a>
            </li>

        </ul>
        <div class="social-media-wrapper">
            <a href="https://linkedin.com/in/jonathanraposo" target="_blank">
                   <i class="fa-brands fa-linkedin icon" ></i>
            </a>

            <a href="https://github.com/JonathanRaposo" target="_blank">
            
                  <i class="fa-brands fa-github icon"></i>
            </a>
        <p id="copy-right">Raposo, Inc. &copy; {{year}} All rights reserved.</p>

        </div>
    </footer>
</body>
</html>