<div class="user-book-list-hero"></div>
  
  <div class="user-bookList">

{{#if user.books}}
     <h2 class="user-books-heading">{{user.firstName}}'s book list:</h2>

   {{#each user.books}}

     <h3 class="user-bookList-link">
        <a href="/books/{{this._id}}">
             {{this.title}} 📙
        </a>
     </h3>
    
   {{/each}}
   {{else}}
     <h2 class="user-books-heading">No Books added  yet</h2>

    
{{/if}}
  </div>